<!-- <html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>
        Home
    </title>
</head>
<body>
<h1>Welcome! Please enter your text below</h1>
<form action="analyze"  method="get">
    <textarea name="text" style='margin:0px,height : 40px, width:200px'>

    </textarea>
    <br>
    <input name="removepunc" type="checkbox"> Remove Punctuations</input>
    <input name="spaceremover" type="checkbox"> Remove Space</input>
    <input name="uppercase" type="checkbox">Capitalize</input>
    <input name="charcount" type="checkbox">Character Count</input>
    </br>
    <button type="submit">Analyse</button>
</form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TextUtils</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a
            class="nav-item nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </div>
      </div>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome</strong> You can change our text
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
      <form action="analyze"  method="post"> {% csrf_token %}    
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Enter your text here</label>
          <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      
      <div class="custom-control custom-switch">
        <input type="checkbox" name="removepunc" class="custom-control-input" id="removepunc">
        <label class="custom-control-label" for="removepunc">Remove Punctuations</label>
      </div>
      
      <div class="custom-control custom-switch">
        <input type="checkbox" name="spaceremover" class="custom-control-input" id="spaceremover">
        <label class="custom-control-label" for="spaceremover">Remove Space</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="uppercase" class="custom-control-input" id="uppercase">
        <label class="custom-control-label" for="uppercase">Capatalize</label>
      </div>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="charcount" class="custom-control-input" id="charcount">
        <label class="custom-control-label" for="charcount">Count Character</label>
      </div>
      <button type="submit" class="btn btn-success">Analyse</button>

    </form>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
